# Database Configuration
# Format: mysql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="mysql://root:password@localhost:3306/mansaba_absensi"

# Security
JWT_SECRET="ganti_dengan_kode_acak_yang_panjang_dan_rahasia"

# App Port
PORT=3001
